.App {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 5rem;

  
}

.rightPart{
display: grid;
grid-template-columns:repeat(4, 1fr) ;

    gap: 10px ;
    margin-left: 25%;


}

.leftPart{
  width: 50%;
 margin-left: 25%;

}
